.heading {
    color: green;
}

.container {
    display: flex;
    flex-wrap: wrap;
 
}

.userCard {
    width: 14.7%;
    border: 1px solid #ccc;
    padding: 2px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px  lightblue;
    margin: 10px;

.profileImg {
    width: 100%;
    height: 70%;
    border-radius: 5px 5px 0px 0px;
}

}

.cardText {
    padding-left: 5%;
}